@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if (User.Identity.IsAuthenticated)
{

    <div class="text-center">
        <h4>Hello Worker @Model.FirstName @Model.LastName. You are Logged In</h4>
        <h3>Your Current Jobs:</h3>
        @foreach (var Job in Model.Jobs)
        {
            <h4>@Job.Title @Html.ActionLink("Details", "Detail", "Jobs", new { @text = @Job.Title, id = Job.JobId })</h4>
        }

        @*Checks for the worker's Availability before allowing another selection*@
        @if (Model.Avaliable)
        {
            <h2>Please @Html.ActionLink("select a job", "Index", "Jobs").</h2>
        }
        else
        {
            <p>You are already assigned to a job.</p>
        }
        <div id="begin-job-result"></div>
    </div>
}